@import './src/front/common/styles/variables.modules';

.editSideBar {
  opacity: .6;
  width: 500px;
  height: 80%;
  margin: 50px 15px 20px 0;
  border-radius: 30px;
  position: absolute;
  z-index: 666;
  right: 0;
  top: 0;
  background-color: white;
  border: 2px solid #2f2f2f;
  box-shadow: 0 0 1px 1px;
  transition: .5s;
  @media screen and (max-width: 800px) {
    width: 200px;
  }

  &:hover {
    opacity: 1
  }

  .container {
    position: absolute;
    top: 15px;
    right: 5%;
    left: 5%;
    bottom: -20px;
    height: 95%;
    display: grid;
    grid-template-rows: 60px 1fr;
    .tabsContainer {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 50px;

      .tab {
        cursor: pointer;
      }

      .activeTab {
        color: #cc0033;
        transition: 1s;
        transform: scale(1.2);
      }
    }
    .tabContent {
      height: 550px;
      display: grid;
      grid-template-rows: 50px 450px 50px;
      justify-items: center;
      @media screen and (max-width: 800px) {
        grid-template-rows: 100px 400px 50px;
      }
      .controlContainer {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        row-gap: 8px;
        flex-wrap: wrap;

        .control {
          @include buttonView(50px);
        }
      }
      .inputsContainer {
        width: 100%;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .inputContainer {
          height: 100%;
          display: grid;
          grid-template-rows: 30px 60px 1fr;
          justify-items: center;
          width: 100%;

          .inputLabel {
            text-align: center;
          }

          .input {
            width: 100%;
            display: flex;
            justify-content: center;
            height: 50px;

            input, select {
              height: 30px;
              outline: none;
              -webkit-appearance: none;
              width: 80%;
              border: none;
              font-family: "Arial Unicode MS", sans-serif;
              font-size: 20px;
              font-weight: 100;
              border-bottom: 2px solid red;

              &:focus {
                border-bottom: 2px solid #a2f3a2;
              }
            }
            select {
              width: 82%;
            }
          }

          .suggestionsContainer {
            overflow-y: auto;
            width: 90%;
            font-size: 25px;
            color: gray;

            &::-webkit-scrollbar {
              width: 3px;
            }

            &::-webkit-scrollbar-thumb {
              background-color: #a2f3a2;
            }

            .suggestion {
              padding-right: 5px;
              padding-bottom: 5px;
              border-bottom: 2px solid rgba(192, 109, 109, 0.4);
              margin-bottom: 10px;

              &:hover {
                background-color: rgba(195, 246, 181, .4);
                cursor: pointer;
              }
            }
          }
        }
      }
      .updateBtnContainer {
        .updateBtn {
          cursor: pointer;
          border: 5px solid #2f2f2f;
          height: 30px;
          width: 150px;
          text-align: center;
          border-radius: 15px;
          color: #626161;
          font-weight: 600;

          &:disabled {
            opacity: .3;
          }

          &:active {
            background-color: #a2f3a2;
            opacity: .6;
          }
        }
      }
    }
  }
}
